[Unit]
Description=Update and publish BC deaths by CHSA dataset
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot

User=__USER__
WorkingDirectory=__PROJECT_DIR__

Environment="HOME=__HOME__"
Environment="PATH=__HOME__/.cargo/bin:/usr/local/bin:/usr/bin:/bin"
Environment="GIT_TERMINAL_PROMPT=0"

ExecStart=__PROJECT_DIR__/deploy
